.name
{ 
    width:80%;
    height:80%;
    position:fixed;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}
.select
{
    position:fixed;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;

}

.button1
{
    margin-left: 55px;
}
.button2
{
    margin-left: 45px;
}
.whole
{
    margin: auto;
}