.select
{
    position:fixed;
    left:50%;
    top:50%;
    margin:-100px 0 0 -100px;

}
.button1
{
    margin-left: 55px;
}
.button2
{
    margin-left: 45px;
}
.newBatch
{
    margin-left: 70px;
}

.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background: black; color: white }